// === COLORS ===
$background-color: #f2f4f8;
$white-color: #ffffff;
$black-color: #1d2121;
$primary-color: #0073e9;
$secondary-color: #9100ad;
$info-color: #dfeffd;
$border-color: #d3dbe7;
$form-label-color: #4b5353;

// === SIZES ===
$content-width: 940px;
$post-image-height: 154px;
$brand-logo-height: 43px;
$avatar-width: 25px;
$avatar-height: $avatar-width;
$media-screen-sm: 720px;
$media-screen-xs: 480px;

// === FONTS ===
$text-font: 'Open Sans', 'sans-serif';
$headline-font: $text-font;
