// === BASE === 

.alert {
  position: relative;
  padding: 13px 18px;
  margin-bottom: 5px;

  @include font-style($size: 14px, $weight: 400, $height: 19px, $letter: -0.08px);
}

.alert-dismissible .option-close {
  position: absolute;
  padding: 13px 21px;
  float: right;
  top: 0;
  right: 0;
  border: 0;
  background: transparent;
}

.button-close {
  position: relative;
  background: #282E2E;
  opacity: 0.8;
  height: 16.19px;
  width: 16.19px;
  max-height: 16.19px;
  max-width: 16.19px;
  padding: 0;
  border-radius: 50%;
  border: none;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.button-close span {
  position: absolute;
  @include font-style($size: 18px, $weight: 400, $height: normal, $letter: normal);
  color: $white-color;
  max-width: 10.6px;
  padding-bottom: .15em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

// === ALERT INFO === 

.alert-info {
  color: $black-color;
  background-color: $info-color;
}

.alert-info.alert-dismissible {
  padding-right: 4rem;
}