// === BASE === 

.alert {
  position: relative;
  padding: 13px 18px;
  font-size: 14px;
  letter-spacing: -0.08px;
  line-height: 19px;
  margin-bottom: 5px;
}

.alert-dismissible .option-close {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  border: 0;
  padding: 13px 21px;
  background: transparent;
}

.button-close {
  position: relative;
  cursor: pointer;
  background: #282E2E;
  opacity: 0.8;
  height: 16.19px;
  width: 16.19px;
  max-height: 16.19px;
  max-width: 16.19px;
  padding: 0;
  border-radius: 50%;
  border: none;
  vertical-align: middle;
  text-align: center;
}

.button-close span {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  max-width: 10.6px;
  padding-bottom: .15em;
  /* padding-left: .01em; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

// === ALERT INFO === 

.alert-info {
  color: #1D2121;
  background-color: #DFEFFD;
}

.alert-info.alert-dismissible {
  padding-right: 4rem;
}