/* Banner */

.banner {
  position: relative;
  @extend %display-flex-center;
  width: 100vw;
  justify-content: center;

  .banner-body {
    position: absolute;
    z-index: 2;

    .banner-title {
      margin: 20px 0;
    }

    & p {
      margin-bottom: 41.5px;
    }
  }

  .banner-background {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
  }
}
