// === BASE ===

.button {
  display: inline-block;
  padding: 10.5px 25.5px;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;

  @include font-style($size: 14px, $weight: 600, $height: 19px, $letter: -0.08px);
}

// === COLOR BUTTONS ===

.button-primary {
  border: none;
  background-color: $primary-color;
  color: $white-color;
}

// === ROUNDED BUTTONS ===

.button-rounded.button-white {
  border: 1px solid $white-color;
  color: $white-color;
}

// === MODIFICATORS ===

.button-long {
  padding: 10.5px 40.5px;
}