// === BASE ===

.button {
  display: inline-block;
  padding: 10.5px 25.5px;
  text-align: center;
  vertical-align: middle;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.08px;
  line-height: 19px;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

// === COLOR BUTTONS ===

.button-primary {
  border: none;
  background-color: #0073E9;
  color: #FFFFFF;
}

// === ROUNDED BUTTONS ===

.button-rounded.button-white {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

// === MODIFICATORS ===

.button-long {
  padding: 10.5px 40.5px;
}