// === BASE ===
.button {
  display: inline-block;
  padding: 10.5px 25.5px;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;

  @include font-style($size: 14px, $weight: 600, $height: 19px, $letter: -0.08px);

  // === COLOR BUTTONS ===
  &.button-primary {
    border: none;
    background-color: $primary-color;
    color: $white-color;
  }

  // === ROUNDED BUTTONS ===
  &.button-rounded.button-white {
    border: 1px solid $white-color;
    color: $white-color;
  }

  // === MODIFICATORS ===
  &.button-long {
    padding: 10.5px 40.5px;
  }
}


// === SMALL BUTTONS ===
.button-close {
  position: relative;
  background: #282E2E;
  opacity: 0.8;
  height: 16.19px;
  width: 16.19px;
  max-height: 16.19px;
  max-width: 16.19px;
  padding: 0;
  border-radius: 50%;
  border: none;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;

  span {
    position: absolute;
    @include font-style($size: 18px, $weight: 400, $height: normal, $letter: normal);
    color: $white-color;
    max-width: 10.6px;
    padding-bottom: .15em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}