.dropdown-trigger {
  cursor: pointer;

  &:after {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    content: '';
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    height: 0.45em;
    margin-left: 7.5px;
    top: 0.15em;
    vertical-align: 0.3em;
    width: 0.45em;
    transform: rotate(135deg);
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $white-color;
  top: 40px;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.18);
  border-radius: 2px;
  z-index: 1;

  & a {
    display: block;
    padding: 12px 16px;
    color: $black-color;

    @extend %text-decoration-none;
    @include font-style(
      $size: 16px,
      $weight: 400,
      $height: 22px,
      $letter: -0.09px
    );

    &:hover {
      background-color: #ddd;
    }
  }
}
